* {
    font-family: Helvetica, Arial, sans-serif;
}

main, header, footer {
    width: 61.8%;
    margin: auto;
}

p {
    line-height: 1.618em;
}

.header__title {
    font-size: 8em;
    font-weight: bold;
}

.footer__left {
    float: left;
    width: 33%;

    text-align: left;
}

.footer__center {
    float: left;
    width: 33%;

    text-align: center;
}

.footer__right {
    float: right;
    width: 33%;

    text-align: right;
    font-size: 1em;
    font-weight: bold;
}

footer::after {
    float: clear;
}
